body{
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    background-image: url(img/FundoLogin.png);
    background-repeat: no-repeat;
    background-size: cover, 100%;
}
.siteLogin {
    width: 1520px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #1a1d19;
    position: absolute;
    display: flex;
}
.infoComplementar {
    width: 1520px;
    height: 280px;
    top: 590px;
    left: 0px;
    background: #111910;
    position: absolute;
}
.logocima{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 80px;
    height: 60px;
}
.group1 {
    width: 40px;
    height: 50px;
    position: absolute;
    left: 27px;
    top: 33px;
}
.textoAS {
    color: #EAEBED;
    width: 35px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rectangle28{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recSenha {
    width: 300px;
    height: 250px;
    left: 570px;
    top: 435px;
    position: absolute;
    font-size: 20px;
}
.entrar{
    left: 800px;
    top: 430px;
    width: 100px;
    height: 35px;
    position: absolute;
    font-size: 20px;
}
.senha {
    top: 310px;
    left: 570px;
    width: 50px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
}

.login {
    left: 570px;
    top: 200px;
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
}

.insertLogin {
    top: 260px;
    left: 568px;
    width: 360px;
    height: 35px;
    background: #fafafa;
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
}
.insertSenha {
    left: 568px;
    top: 370px;
    width: 360px;
    height: 35px;
    border-radius: 5px;
    background: #fafafa;
    position: absolute;
    font-size: 20px;
}
.containerLogin {
    left: 550px;
    top: 190px;
    width: 400px;
    height: 300px;
    background: #273324;
    position: absolute;
    border-radius: 36.83px;
}
.logodown{
   position: absolute;
   top: 30px;
   left: 180px;
   width: 150px;
   height: 100px;
}
.frase{
    top: 150px;
    left: 50px;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.contato{
    top: 40px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.emailAS{
    top: 100px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.telAS{
    top: 150px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.local{
    top: 200px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fundo{
    left: 0px;
    top: 90px;
    width: 1520px;
    height: 700px;
    position: absolute;
    background-size: 1536px;
    background-repeat: no-repeat;
}