body{
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.login {
    width: 1520px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #1a1d19;
    position: absolute;
    display: flex;
}
.frame2 {
    width: 1520px;
    height: 280px;
    top: 590px;
    left: 0px;
    background: #111910;
    position: absolute;
}
.group1 {
    width: 40px;
    height: 50px;
    position: absolute;
    left: 27px;
    top: 33px;
}
.textAS {
    color: #EAEBED;
    width: 35px;
    height: 50px;
    font-family: 'BigShot One';
    font-size: 75px;
    left: 559px;
    top: -20px;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 124px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.recsenha {
    width: 20px;
    height: 30px;
    left: 600px;
    top: 335px;
    font-family: 'Inter';
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 50px;
    line-height: 20px;
}

.rectangle25 {
    width: 300px;
    height: 250px;
    left: 570px;
    top: 345px;
    position: absolute;
    font-size: 20px;
}
.entrar{
    left: 800px;
    top: 340px;
    width: 100px;
    height: 35px;
    position: absolute;
    font-size: 20px;
}
.textsenha {
    top: 220px;
    left: 570px;
    width: 50px;
    height: 50px;
    font-family: 'Forum';
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
}

.textlogin {
    left: 570px;
    top: 110px;
    width: 200px;
    height: 50px;
    font-family: 'Forum';
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
}

.rectangle24 {
    top: 170px;
    left: 568px;
    width: 360px;
    height: 35px;
    background: #fafafa;
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
}
.rectangle23 {
    left: 568px;
    top: 280px;
    width: 360px;
    height: 35px;
    border-radius: 5px;
    background: #fafafa;
    position: absolute;
    font-size: 20px;
}
.rectangle27 {
    left: 550px;
    top: 100px;
    width: 400px;
    height: 300px;
    background: #273324;
    position: absolute;
    border-radius: 36.83px;
}
.textfrase{
    top: 150px;
    left: 50px;
    width: 400px;
    height: 50px;
    font-family: 'Forum';
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.textcontato{
    top: 40px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: 'Forum';
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.textemailAS{
    top: 100px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: 'Forum';
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.texttelAS{
    top: 150px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: 'Forum';
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.textlocal{
    top: 200px;
    left: 800px;
    width: 400px;
    height: 50px;
    font-family: 'Forum';
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.pexels {
    left: 0px;
    top: 90px;
    width: 1520px;
    height: 500px;
    position: absolute;
    background: url('https://uploads.metroimg.com/wp-content/uploads/2018/04/12114511/WhatsApp-Image-2018-04-12-at-10.32.00-AM.jpg');
    background-size: 1536px;
    background-repeat: no-repeat;
}
/* logo armory white 2 */

position: absolute;
width: 208px;
height: 144.54px;
left: 27px;
top: 33px;

background: url(logo armory white);


/* Rectangle 19 */

position: absolute;
width: 285.56px;
height: 196.98px;
left: -11.78px;
top: -3.58px;

background: #476C31;

/* logo armory white 2 */

position: absolute;
width: 472px;
height: 328px;
left: 373px;
top: 78px;

background: url(logo armory white);


/* Sistema de monitoramento IoT que garante a segurança e preservação das munições em depósitos militares. */

position: absolute;
width: 787px;
height: 162px;
left: 215px;
top: 438px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 54px;
text-align: center;

color: #FFFFFF;



/* Contato */

position: absolute;
width: 193px;
height: 51px;
left: 1567px;
top: 163.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 41.8901px;
line-height: 51px;
/* idêntico à altura da caixa */

color: #FFFFFF;



/* Demonstração */

position: absolute;
width: 350px;
height: 51px;
left: 2484px;
top: 163.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 41.8901px;
line-height: 51px;
/* idêntico à altura da caixa */

color: #FFFFFF;



/* contato@armorysafe.com.br */

position: absolute;
width: 648px;
height: 51px;
left: 1663px;
top: 300.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 41.8901px;
line-height: 51px;
/* idêntico à altura da caixa */

color: #FFFFFF;



/* Solicite já uma apresentação personalizada do ArmorySafe para o seu quartel. */

position: absolute;
width: 536px;
height: 123px;
left: 2484px;
top: 300.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 33.5121px;
line-height: 41px;

color: #FFFFFF;



/* (11) 9999-9999 */

position: absolute;
width: 351px;
height: 51px;
left: 1663px;
top: 432.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 41.8901px;
line-height: 51px;
/* idêntico à altura da caixa */

color: #FFFFFF;



/* São Paulo - SP, Brasil */

position: absolute;
width: 486px;
height: 51px;
left: 1663px;
top: 564.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 41.8901px;
line-height: 51px;
/* idêntico à altura da caixa */

color: #FFFFFF;



/* Line 1 */

position: absolute;
width: 193px;
height: 0px;
left: 1567px;
top: 222.8px;

background: #476C31;
border: 3.35121px solid #476C31;


/* Line 2 */

position: absolute;
width: 350px;
height: 0px;
left: 2484px;
top: 222.8px;

background: #476C31;
border: 3.35121px solid #476C31;


/* Line 3 */

position: absolute;
width: 655.01px;
height: 0px;
left: 1252px;
top: 78px;

border: 4px solid rgba(255, 255, 255, 0.78);
transform: rotate(-90.35deg);


/* o-email 1 */

position: absolute;
width: 64px;
height: 63px;
left: 1569px;
top: 294.8px;

background: url(o-email.png);


/* telefone 1 */

position: absolute;
width: 64px;
height: 64px;
left: 1569px;
top: 426.8px;

background: url(telefone.png);


/* localizacao 1 */

position: absolute;
width: 64px;
height: 64px;
left: 1569px;
top: 556.8px;

background: url(localizacao.png);


/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 240px;
height: 69px;
left: 2484px;
top: 489.8px;

background: #476C31;
border: 5.02681px solid #476C31;
box-shadow: 0px 0.837802px 1.6756px rgba(0, 0, 0, 0.3),
0px 0.837802px 2.5134px 0.837802px rgba(0, 0, 0, 0.15);
border-radius: 16.756px;


/* Solicitar */

position: absolute;
width: 165px;
height: 41px;
left: 2521px;
top: 503.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 33.5121px;
line-height: 41px;
/* idêntico à altura da caixa */

color: #FFFFFF;